h1 {
	font-size: 3em;
	color: $secondary;
	font-weight: 700;
}

.btn {
	border-radius: 0;

	&.hug {
		padding: 1.5vw 3vw;
		font-size: 1.125rem;
		font-weight: 600;
	}
}

.container {
	padding-inline: 0;
}
