$primary: #000269;
$danger: #A00107;
$secondary: #333;
$name:#FFFFFF;
$pagraph: black;

$danger: #a00107;
$secondary: #333;
$mobile: 768px;
$md: 992px;
$lg: 1300px;
$gray: #e5e5e5;

$paleGreyBg: rgba(51, 51, 51, 0.04);

