.about {
    display: grid;
    // grid-template-rows:  1fr 1fr;

    .firstSection {
        display: flex;

        h1 {
            margin-left: 1.5rem;
        }

        // img {
        //     width: 590px;
        //     height: 187px;
        // }
    }

    .secondSection {
        margin-top: 7rem;
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        gap: 2.5rem;

        img {
            width: auto;
            height: 28.8125rem;
        }
    }

    .thirdSection {
        margin-top: 7.6875rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;


        .text {
            margin-top: 9.5rem;
            // &-inner{
            //     // .h2{
            //     //     color: $danger;
            //     // }
            // }
        }

        .box {
            margin-top: 2.25rem;

            &-inner {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .box-inner-in {
                    border: 1px solid $primary;
                    text-align: center;
                }

                :nth-child(1) {
                    border-left: none;
                }

                :last-child {
                    border-right: none;
                }
            }
        }

        .img {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

            :nth-child(2) {
                margin-top: 5rem;
            }

            :last-child {
                margin-top: 2.5rem;
            }
        }

        .h1 {
            font-weight: 600;
        }
    }

    .fourthSection {
        margin-top: 15.9375rem;
        padding: 0rem;
justify-content: center;
        .our-section-1-inner-upper {
            display: flex;

            img {
                width: 600px;
                height: 246px;
            }

            .our-section-1-inner-upper-text {
                padding: 2rem 1.5rem 1.5rem 1.5rem;
                border: 1px;
                background-color: rgba(51, 51, 51, 0.02);
                ;
                width: 400px;
            }
        }

        .our-section-2-inner {
            display: flex;

            .our-section-2-inner-text {
                margin-top: -15rem;
                padding: 2rem 1.5rem 1.5rem 1.5rem;
                border: 1px;
                background-color: rgba(51, 51, 51, 0.1);
                ;
                width: 400px;
            }

        }
    }

    .firthSection {
        border: 1px;
        margin-top: 7.9375rem;
        display: flex;
        gap: 3rem;

        //         .img{
        //             width: 648px;
        // height: x;
        //         }
        .text {
            padding-top: 4rem;
        }

        .text-box {
            display: grid;
            grid-template-columns: 1fr 1fr;

            // grid-template-rows: 1fr 1fr;
            .inner-text-box {
                padding: 1.7rem;
                border: 1px solid $secondary;
                width: 20rem;
                height: auto;

                .inner-inner-inner-text-box {
                    img {
                        :nth-child(2) {
                            width: 56px;
                            height: 36px;
                            display: none;
                        }
                    }
                }

                h2 {
                    margin: 0.7rem;
                }
            }
        }
    }

    .sixthSection {
        margin: 7rem 0rem 1.8rem 0rem;

        h1 {
            margin-bottom: 1rem;
        }

        .profile {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            i {
                color: white;
            }
        }

    }

    @media screen and (max-width:$mobile) {
        .firstSection {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @media screen and (max-width:$mobile) {
        .secondSection {
            display: flex;
            flex-direction: column-reverse;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @media screen and (max-width:$mobile) {
        .thirdSection {

            display: flex;
            flex-direction: column;

            .img {
                display: flex;
                gap: 1rem;
                justify-content: center;
                width: 100%;
                height: auto;
            }
        }
    }

    @media screen and (max-width:$mobile) {
        .fourthSection {
            .our-section-1-inner-upper {
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    height: auto;
                }

                .our-section-1-inner-upper-text {
                    padding: 2rem 1.5rem 1.5rem 1.5rem;
                    border: 1px;
                    background-color: rgba(51, 51, 51, 0.02);
                    ;
                    width: 100%;
                }
            }

            .our-section-2-inner {
                display: flex;
                flex-direction: column-reverse;

                img {
                    width: 100%;
                    height: auto;
                }

                .our-section-2-inner-text {
                    margin-top: 0rem;
                    padding: 2rem 1.5rem 1.5rem 1.5rem;
                    border: 1px;
                    background-color: rgba(51, 51, 51, 0.1);
                    ;
                    width: 100%;
                }

            }
        }

    }

    @media screen and (max-width:$mobile) {
        .firthSection {
            h1 {
                text-align: center;
            }
        }
    }

    @media screen and (max-width:$mobile) {
        .firthSection {
            align-items: center;

            .img {
                display: none;
            }

            .text-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                .inner-text-box {
                    padding: 1rem;
                    border: 1px solid $secondary;
                    width: 70%;
                    //    height: auto;
                    align-items: center;

                    h2 {
                        margin: 0.7rem;
                    }
                }
            }
        }
    }


    @media screen and (max-width:$mobile) {
        .sixthSection {
            h1 {
                text-align: center;
            }

            .profile {
                gap: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

        }
    }
}