.about-page {
    padding-top: 3rem;
    margin-bottom: 4rem;

    .about-hero {
        margin-bottom: 4rem;
        flex-direction: column-reverse;
        display: flex;

        @media screen and (min-width:992px) {
            height: 50vh;
        }

        @media screen and (min-width:992px) {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: baseline;
        }

        h1 {
            font-weight: 600;
            font-size: 24px;

            @media screen and (min-width:768px) {
                font-weight: 600;
                font-size: 36px;
                margin: 0%;
                padding: 0%;
            }

            @media screen and (min-width:1200px) {
                font-weight: 800;
                font-size: 48px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .about-first-section {
        margin-bottom: 5%;

        @media screen and (min-width:992px) {
            height: 125vh;
        }

        .about-first-section-inner {
            @media screen and (min-width:992px) {

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            .about-first-section_inner-right {
                border: 1px;
                padding: 1rem;

                .about-first-section_inner-right_image {
                    border: 1px;
                    padding: 1rem;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }

            .about-first-section-inner-right {
                .about-first-section_inner-right_text {
                    @media screen and (min-width:1200px) {
                        margin-top: 4rem;
                    }

                    .about-first-section_inner-right_text_upper {
                        h3 {
                            color: $danger;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                        }

                        h1 {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }

    .about-second-section {
        margin-bottom: 5%;

        @media screen and (min-width:992px) {
            height: 130vh;
        }

        .about-second-section_inner {
            @media screen and (min-width:992px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            .about-second-section_inner_left {
                @media screen and (min-width:992px) {
                    margin-top: -4rem;
                }

                @media screen and (min-width:1200px) {
                    margin-top: 4rem;
                }

                .about-second-section_inner-left_text {
                    .aboutsecond-section_inner-left_text_upper {
                        h3 {
                            font-weight: 600;
                            font-size: 18px;
                        }

                        :nth-child(1) {
                            color: $danger;
                        }
                    }
                }


                .about-second-section_inner-left_box {

                    .about-second-section_inner-left_box_inner {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;

                        .about-second-section_inner-left_box_inner-text {
                            border: 1px solid $primary;
                            text-align: center;

                            &.first {
                                border-left: none;
                            }

                            &.third {
                                border-right: none;
                            }

                            h1 {
                                color: $primary;
                            }
                        }
                    }
                }
            }

            .about-second-section-inner_right {
                margin-top: 2rem;

                @media screen and (min-width:768px) {
                    margin: 0rem;
                }

                .about-second-section_inner_right-inner {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1rem;

                    img {
                        width: 100%;
                    }

                    .about-second-section_inner-right-inner-two {
                        position: relative;
                        margin-top: 43%;
                    }

                    .about-second-section_inner-right-inner-third {
                        position: relative;
                        margin-top: 2.3rem;
                    }
                }
            }
        }
    }
}

.about-third-section {
    margin-bottom: 5%;

    // @media screen and (min-width:992px) {
    //     height: 250vh;
    // }

    img {
        width: 100%;
    }

    .about-third-section_inner {
        gap: 1rem;

        .about-third-section_inner-inner {

            @media screen and (min-width:992px) {
                display: flex;
            }

            .lower {
                @media screen and (min-width:992px) {
                    margin-top: -25%;
                }

                @media screen and (min-width:1200px) {
                    margin-top: -16.1%;
                }
            }

            .about-third-section_inner-text-box {
                @media screen and (min-width:992px) {
                    width: 35%;
                    height: 35%;
                }

                border: 1px;
                padding: 1rem;

                background: rgba(51, 51, 51, 0.1);

                h3 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                }

                li {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }

        // .about-third-section_inner-upper{

        // }
    }
}

.about-fourth-section {
    margin-bottom: 20%;

    @media screen and (min-width:992px) {
        height: 150vh;
    }

    .about-fourth-section_inner {
        @media screen and (min-width:1200px) {
            display: grid;
            grid-template-columns: 0.7fr 1fr;
            grid-template-rows: 1fr;
            gap: 3rem;
        }

        .about-fourth-section_inner_left {


            .about-fourth-section_inner_left-image {


                img {
                    display: none;

                    @media screen and (min-width:1200px) {
                        height: 120vh;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

        .about-fourth-section-inner-right {
            // border: 1px solid;
            // padding: 1rem;
            margin-top: 2rem;

            .about-fourth-section-inner-right_box-table {

                h3 {
                    font-weight: 600;
                    font-size: 18px;
                }

                p {
                    font-weight: 500;
                    font-size: 14px;
                }

                @media screen and (min-width:992px) {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 1fr 1fr;
                }

                // :hover{
                //     border: 1px black solid;
                //     padding: 1rem;
                // }

                .about-fourth-section-inner-right_box-table-inner {
                    border: 1px grey solid;
                    padding: 1rem;
                    // height: 50vh;

                    .about-fourth-section-inner-right-box-table-inner_img {
                        margin-bottom: 1rem;

                        // border: 1px solid;
                        // padding: 1rem;
                        img {
                            border: 1px solid;
                            padding: 1rem;
                            width: auto;
                            border-radius: 1rem;

                        }
                    }

                }
            }
        }
    }
}

.about-last-section {
    .about-last-section_inner {

        .about-last-section_inner-profile {
            .home-hero_upper-left_scroll {
                @media screen and (min-width:992px) {
                    margin: 1rem -4rem 0rem 0rem;
                    display: flex;
                }

                display: none;
                width: 100%;
                margin-top: 1rem;
                gap: 0.5rem;
                flex-direction: row-reverse;
                align-items: center;

                .home-hero_upper-left_scroll-line {
                    border: 1px solid #ADADAD;
                    width: 100vw;


                    @media screen and (min-width:992px) {
                        width: 30%;
                    }
                }

                i {
                    font-size: 1rem;
                    border: 0.8px solid #A00107;
                    gap: 2rem;
                    border-radius: 4rem;
                    padding: 0.8rem 1rem;

                    @media screen and (min-width:768px) {
                        padding: 0.4rem 0.6rem;
                    }
                   
                    &.fa-chevron-right {
                        color: $danger;
                        background: rgba(160, 1, 7, 0.1);
                        
                    }

                    &.fa-chevron-left {
                        color: grey;
                        border: 0.8px solid grey;
                    }
                }
            }
            .about-last-section_inner-profile-inner {

                :hover {

                    .about-last-section_inner-profile-inner_info {
                        bottom: 0%;
                        @media screen and (min-width:576px){
                            margin-top: -50%;
                            display: block;
                            backdrop-filter: blur(35);
                            -webkit-backdrop-filter: blur(35);
                        }
                    }
img{
    // box-shadow: 5px 10px 8px #888888;
    // border-radius: 1rem;
}

                }

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;


                .about-last-section_inner-profile-inner_image {
                    img {
                        width: 100%;

                    }

     
                }

                .about-last-section_inner-profile-inner_info {
                    border: 1px;
                
                    text-align: center;
                    color: white;
                    display: none;
                    @media screen and (max-width:576px){
                        display: block;
                            padding: 1rem;
                    background: #333333;
                    }

                    h3 {
                        font-weight: 600;
                        font-size: 18px;
                    }

                    h5 {
                        font-weight: 500;
                        font-size: 14px;
                    }

                    .fa-instagram {
                        margin-right: 5%;
                        :hover{
                            color: $danger;
                        }
                    }
                    :hover{
                        .fa-instagram{
                           color: $danger;
                        }
                       }

                    :hover{
                        .fa-twitter{
                           color: $danger;
                        }
                       }

                }


            }
        }


    }

}