// @import "../../../variables";

.btn2 {
  padding: 1.33333rem 1.77778rem;
  background-color: $white;
  border: 1px solid $primaryRed;
  color: $primaryRed;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}
