.contact {
    margin-block: 1rem;

    .contact-inner {
        width: 100%;
        // border: 1px solid;

        .contact-inner-right {
            display: none;
       
        }

        .contact-inner-left {
            // border: 1px solid;
            // background-color: $danger;
            padding-block: 2rem;

            .contact-inner-left-inner {

                &-form {
                    text-align: center;

                    &-header {
                        h1 {
                            color: $danger;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 48px;
                            text-transform: uppercase;
                        }

                    }

                    &-inner {
                        padding-inline: 10%;

                        &-input-section {

                            input {
                                margin-block-end: 1rem;
                                width: 100%;
                                height: 3rem;
                                border-radius: 0.5rem;
                                border: 1px solid $danger;
                                padding-inline: 1rem;
                         
                            }

                       

                            #second-input {
                                margin-block-start: 0rem;
                            }

                            textarea {
                                width: 100%;
                                border-radius: 0.5rem;
                                border: 1px solid $danger;
                                padding: 1rem;
                            }
                        }
                        .btn {
                            padding-block: 0.5rem;
                            margin-block: 2rem;
                            border-radius: 0.5rem;
                         }
                    }
                }
            }
        }

        @media screen and (min-width:1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .contact-inner-right {
                display: block;

                .contact-inner-right-inner {
                    .contact-inner-right-inner-image {
                        position: relative;
                        // margin-block: 0% 0%;
                        right: 5%;

                        img {
                            width: 120%;
                            height:auto;
                        }
                    }
                }

            }
        }



    }
}