@import "./variables";
@import "./helpers";
@import "./resets";
@import "./home.scss";
@import "./header.scss";
@import "./about.scss";
@import "./footer.scss";
@import "./project.scss";
@import "./single-project.scss";
@import "./services.scss";
@import "./singleservice.scss"
