@import "./variables";
@import "./helpers";
@import "./resets";
@import "./home.scss";
@import "./header.scss";
//
@import "./about.scss";
@import "./buttonLight.scss";
@import "./buttonDark.scss";
@import "./hero.scss";
@import "./ourServices.scss";
@import "./projects.scss";
@import "./reviews.scss";
@import "./who.scss";
@import "./why.scss";
@import "./footer.scss";
