// @import "../../variables";

.footer {
  padding-inline: 7.5rem;
  margin-block: 7.5rem 3.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1.5fr;
  gap: 2.5rem;
  div {
    &:nth-child(1) {
      p:nth-child(1) {
        color: $primaryDark;
        font-weight: 700;
        font-size: 1.3rem;
      }
      p:nth-child(2) {
        color: $halfBlack;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        margin-block: 1rem 2rem;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      p {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.0275rem;
        color: $primaryDark;
      }
      ul {
        list-style-type: none;
        padding:0;
        li {
          margin-block: 1rem;
          a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.1875rem;
            color: $halfBlack;
          }
        }
      }
    }
    &:nth-child(3) {
      a {
        color: $primaryRed;
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.05875rem;
        img {
          margin-left: 0.5rem;
        }
      }
    }
    &:nth-child(4) {
      p {
        &:nth-child(1) {
          font-size: 0.875rem;
          font-weight: 600;
          line-height: 1.0275rem;
          color: $primaryDark;
          margin:0;
        }
        &:nth-child(2),
        &:nth-child(4) {
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.21rem;
          color: $primaryDark;
          margin-block: 0.7rem;
        }
        &:nth-child(3),
        &:nth-child(5) {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.21rem;
          color: $halfBlack;
          padding-right: 30%;
        }
        &:nth-child(2) {
          margin-block: 1rem;
        }
      }
    }
    &:nth-child(5) {
      .footer_icons {
        a {
          margin-right: 2rem;
          font-size: 1.2rem;
          color: $halfBlack;
          &:hover {
            color: $primaryRed;
          }
        }
      }
      p {
        margin-block: 4.4375rem 1.5rem;
        a {
          text-decoration: none;
          font-size: 0.875rem;
          font-weight: 600;
          line-height: 1.0275rem;
          color: $primaryDark;
        }
      }
    }
  }
}

@media screen and (max-width: 1324px) {
  .footer {
    gap: 1rem;
    grid-template-columns: 1fr 0.5fr 0.8fr 1fr 1fr;
  }
}

@media screen and (max-width: 1210px) {
  .footer {
    grid-template-columns: 0.5fr 0.8fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    & > div {
      &:nth-child(1) {
        grid-column: 1/5;
        text-align: center;
        margin-bottom: 2rem;
        p:nth-child(2) {
          width: 70%;
          margin-inline: auto;
        }
      }
      &:nth-child(4) {
        p {
          &:nth-child(3) {
            padding-right: 10%;
          }
        }
      }
      &:nth-child(5) {
        p {
          margin-block: 3rem 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1026px) {
  .footer {
    padding-inline: 4.44444rem;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    & > div {
      &:nth-child(1) {
        grid-column: 1/4;
      }
      &:nth-child(5) {
        grid-column: 1/4;
        text-align: center;
        .footer_icons {
          a {
            margin-inline: 1rem;
          }
        }
        p:nth-child(2) {
          width: 70%;
          margin-inline: auto;
          margin-block: 0.88889rem 1.33333rem;
        }
      }
    }
  }
}

@media screen and (max-width: 714px) {
  .footer {
    padding-inline: 1.77778rem;
  }
}
@media screen and (max-width: 567px) {
  .footer {
    display: block;
    text-align: center;
    & > div {
      margin-block: 2rem;
      &:nth-child(1) {
        p:nth-child(2) {
          width: 100%;
          // margin-inline: auto;
        }
      }
      &:nth-child(4) {
        p {
          &:nth-child(3),
          &:nth-child(5) {
            padding-right: 0;
          }
        }
      }
    }
  }
}
