.footer {
	display: grid;
	gap: 2rem;
	padding: 3rem 0;
	background: #ffffff;
	text-align: center;
	@media screen and (min-width: $md) {
		grid-template-columns: 1fr 0.5fr 0.5fr 1fr 1fr;
		text-align: justify;
	}
	.part-1 {
		h4 {
			font-weight: bold;
		}
		p {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 500;
			font-size: 0.875rem;
			line-height: 150%;
			color: rgba(0, 0, 0, 0.5);
		}
	}
	.part-2 {
		h5 {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 600;
			font-size: 1.2rem;
		}
		p {
			a {
				text-decoration: none;
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}
	.part-3 {
		h5 {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 600;
			font-size: 1.2rem;
		}
		p {
			a {
				text-decoration: none;
				color: rgba(0, 0, 0, 0.5);
			}
		}
		.services-link {
			a {
				text-decoration: none;
				color: $danger;
			}
		}
	}

	.part-4 {
		h5 {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 600;
			font-size: 1.2rem;
		}
		p {
			&:first-child {
				font-family: "Raleway";
				font-style: normal;
				font-weight: bolder;
				font-size: 1rem;
				line-height: 1.18rem;
				color: #000000;
			}
			
		}
		a {
			text-decoration: none;
			color: black;
			font-style: normal;
			font-weight: 700;
			font-size: 1rem;
			line-height: 1.18rem;
			color: #000000;
		}
	}
	.part-5 {
		.footer-icons {
			padding-bottom: 4rem;
			display: flex;
			justify-content: center;
			gap: 2rem;
			@media screen and (min-width: $md) {
				justify-content: flex-start;
			}
		}
		h5 {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 600;
			font-size: 0.95rem;
			line-height: 1rem;
			color: $pagraph;
		}
		.btn {
			margin-top: 1rem;
		}
	}
}
