.content {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        text-align: center;
        border-top: 1px solid blue;
        border-bottom: 1px solid blue;
        margin: 8rem 5rem;
    
        @media screen and (max-width: $md) {
            grid-template-columns: 1fr;
            border: none;
            padding-top: 3rem;
            margin: auto;
        }
    
        .grid-item {
            padding: 0.7rem 0rem;
            @media screen and (max-width: $md) {
            }
    
            &:first-child {
                border-right: 1px solid blue;
                @media screen and (max-width: $md) {
                    border-right: none;
                }
                .no {
                    font-family: "Raleway";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 56px;
                    text-align: center;
                    color: $primary;
                }
                .letter {
                    font-family: "Raleway";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: $secondary;
                }
            }
            &:nth-child(2) {
                border-right: 1px solid blue;
                border-right: 1px solid blue;
                @media screen and (max-width: $md) {
                    border-right: none;
                }
                .no {
                    font-family: "Raleway";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 56px;
                    text-align: center;
                    color: $primary;
                }
                .letter {
                    font-family: "Raleway";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: $secondary;
                }
            }
            &:nth-child(3) {
                border-right: 1px solid blue;
                border-right: 1px solid blue;
                @media screen and (max-width: $md) {
                    border-right: none;
                }
                .no {
                    font-family: "Raleway";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 56px;
                    text-align: center;
                    color: $primary;
                }
                .letter {
                    font-family: "Raleway";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: $secondary;
                }
            }
            &:nth-child(4) {
                .no {
                    font-family: "Raleway";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 56px;
                    text-align: center;
                    color: $primary;
                }
                .letter {
                    font-family: "Raleway";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: $secondary;
                }
            }
        }
    }
    
    
    .reason {
        padding-top: 2.5rem;

       
        h3 {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 800;
            font-size: 3rem;
            line-height: 4rem;
            text-align: center;

            @media screen and (max-width: $md) {
                font-size: 2.8rem;
                line-height: 2rem;
            }
        }

        .why {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        
            text-align: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            margin: 2rem 5rem;
        
            @media screen and (max-width: $md) {
                grid-template-columns: 1fr;
                border: none;
                padding-top: 3rem;
                margin: auto;
            }
        
            .pics {
                padding: 0.7rem 0rem;
                @media screen and (max-width: $md) {
                }
        
                &:first-child {
                    border-right: 1px solid black;
                    @media screen and (max-width: $md) {
                        border-right: none;
                    }
                    .icon {
                        padding-bottom: 0.8rem;
                        padding-top: 1rem;
                    }
                    p {
                        font-family: "Raleway";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.125rem;
                        line-height: 1.5rem;
                        text-align: center;
                        color: $secondary;
                    }
                }
                &:nth-child(2) {
                    border-right: 1px solid black;
                    @media screen and (max-width: $md) {
                        border-right: none;
                    }
                    .icon {
                        padding-bottom: 1.8rem;
                        padding-top: 1.85rem;
                    }
                    p {
                        font-family: "Raleway";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.125rem;
                        line-height: 1.5rem;
                        text-align: center;
                        color: $secondary;
                    }
                }
                &:nth-child(3) {
                    border-right: 1px solid black;
                    @media screen and (max-width: $md) {
                        border-right: none;
                    }
                    .icon {
                        padding-bottom: 1.6em;
                        padding-top: 0.9rem;
                    }
                    p {
                        font-family: "Raleway";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.125rem;
                        line-height: 1.5rem;
                        text-align: center;
                        color: $secondary;
                    }
                }
                &:nth-child(4) {
                    .icon {
                        padding-bottom: 1.6em;
                        padding-top: 1.2rem;
                    }
                    p {
                        font-family: "Raleway";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.125rem;
                        line-height: 1.5rem;
                        text-align: center;
                        color: $secondary;
                    }
                }
            }
        }
    }
}
