.app-header {
  position: relative;
  padding-inline: 7.5rem;
  .nav-brand {
    font-weight: 700;
    font-size:1.15556rem;
    text-decoration: none;
  }
  .nav {
    align-items:center;
    &-link {
      font-weight: 600;
      color:$primaryDark;
    }
  }

  .mobile-nav {
    background-color: red;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 30vh;
  }
}