.app-header {
	position: relative;

	@media screen and (max-width: $md) {
		margin-block: 0.5rem;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.btn {
		padding: 1vw 3vw;
		font-weight: 600;
	}

	.desktop-nav {
		display: flex;
		align-items: center;

		.logo {
			flex: 1;
			width: 100%;
padding-block: 1px;
			img {
				width: 10%;
			}

			@media screen and (max-width: $md) {
				padding-block: 1vw;
			}
		}

		.app-nav {
			list-style: none;
			margin: 0;
			padding: 0;
			display: none;
			align-items: center;
			gap: 1.5rem;
			font-weight: 600;

			@media screen and (min-width: $md) {
				display: flex;
			}

			.active {
				border-bottom: 2px solid $primary;
				padding-bottom: 0.6rem;
			}
		}

		.bars {
			@media screen and (min-width: $md) {
				display: none;
			}
		}
	}

	.mobile-nav {
		position: absolute;
		background-color: $gray;
		z-index: 2;
		right: 0;
		left: 0;
		min-height: 50vh;
		display: none;

		&.show {
			display: block;

			@media screen and (min-width: $md) {
				display: none;
			}
		}

		.inner {
			display: flex;
			flex-direction: column;
			font-size: 16px;
			height: 45vh;
			justify-content: center;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				align-items: center;
				display: grid;
				gap: 4rem;
				font-weight: 600;
				place-content: center;
				text-align: center;
				transition: all 400ms ease-out;

				@media screen and (min-width: $mobile) {
					margin-top: 2rem;
					gap: 3rem;
				}


				a {
					color: black;
				}
			}
		}
	}
}