// @import "../../variables";

.hero_section {
  position: relative;
  margin-bottom: 13.777778rem;
  .hero {
    padding-inline: 7.5rem;
    margin-top: 3.625rem;
    display: flex;
    .hero_img1 {
      .hero_arrows {
        padding-left: 6rem;
        margin-top: 1.5rem;
        img {
          margin-right: 1rem;
        }
      }
      //   img {
      //     width: 100%;
      //     height: auto;
      //   }
    }
    .hero_text {
      width: 40%;
      margin-block: auto;
      margin-left: 1.5rem;
      h1 {
        color: $primaryBlue;
        font-size: 3rem;
        font-weight: 800;
      }
      p {
        font-weight: 500;
        font-size: 1.125rem;
        color: $primaryDark;
        line-height: 1.75rem;
        margin-block: 1.5rem 3rem;
      }
      .heroBtn {
        padding-inline: 3rem;
      }
    }
  }

  .hero_img2 {
    .hero_playBtn {
      position: absolute;
      right: 34%;
      bottom: -38%;
      z-index: 5;
      display: flex;
      align-items: center;
      background-color: $playBtnBg;
      backdrop-filter: blur(5px);
      padding: 0.8rem;
      div {
        margin-left: 0.88889rem;
        p {
          color: $white;
          margin:0.4rem;
          &:nth-child(1) {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1rem;
          }
          &:nth-child(2) {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1rem;
          }
        }
      }
    }
    img:nth-child(2) {
      position: absolute;
      right: 0;
      bottom: -46%;
      // bottom: 0;
    }
  }
}
