// @import "../../variables";

.hero_section {
  position: relative;
  margin-bottom: 13.777778rem;
  .hero {
    padding-inline: 7.5rem;
    margin-top: 3.625rem;
    display: flex;
    .hero_img1 {
      .hero_arrows {
        padding-left: 6rem;
        margin-top: 1.5rem;
        img {
          margin-right: 1rem;
        }
      }
    }
    .hero_text {
      width: 40%;
      margin-block: auto;
      margin-left: 1.5rem;
      h1 {
        color: $primaryBlue;
        font-size: 3rem;
        font-weight: 800;
      }
      p {
        font-weight: 500;
        font-size: 1.125rem;
        color: $primaryDark;
        line-height: 1.75rem;
        margin-block: 1.5rem 3rem;
      }
      .heroBtn {
        padding-inline: 2.66667rem;
      }
    }
  }

  .hero_img2 {
    .hero_playBtn {
      position: absolute;
      right: 34%;
      bottom: -38%;
      z-index: 5;
      display: flex;
      align-items: center;
      background-color: $playBtnBg;
      backdrop-filter: blur(5px);
      padding: 0.8rem;
      div {
        margin-left: 0.88889rem;
        p {
          color: $white;
          margin:0.4rem;
          &:nth-child(1) {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1rem;
          }
          &:nth-child(2) {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1rem;
          }
        }
      }
    }
    img:nth-child(2) {
      position: absolute;
      right: 0;
      bottom: -46%;
    }
  }
}

@media screen and (max-width: 1433px) {
  .hero_section {
    // width: 77%;
    margin-inline: auto;
    margin-bottom: 3.55556rem;
    .hero {
      .hero_text {
        width: 53%;
        margin-block: auto;
        margin-left: 2.66667rem;
      }
    }
    .hero_img2 {
      display: flex;
      position: relative;
      margin-top: 1.77778rem;
      .hero_playBtn {
        position: absolute;
        bottom: 5%;
        right: 50%;
      }
      img:nth-child(2) {
        position: relative;
        left: 23%;
        width: 100%;
        max-width: 39.33333rem;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 1026px) {
  .hero_section {
    width: 100%;
    padding-inline: 4.44444rem;
    .hero {
      padding-inline: 0;
      .hero_text {
        width: 53%;
        margin-block: auto;
        margin-left: 2.66667rem;
      }
    }
    .hero_img2 {
      padding-inline: 10%;
      .hero_playBtn {
        position: absolute;
        bottom: 30%;
        right: 38%;
        padding: 0.44444rem;
      }
      img:nth-child(2) {
        position: static;
      }
    }
  }
}

@media screen and (max-width: 714px) {
  .hero_section {
    padding-inline: 1.77778rem;
    .hero {
      padding-inline: 0;
    }
  }
}

@media screen and (max-width: 618px) {
  .hero_section {
    .hero {
      display: block;
      .hero_img1,
      .hero_text {
        width: 90%;
        margin-inline: auto;
      }
    }
  }
}
