.app {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	margin: 0;
}

.home {
	display: grid;

	//Hero Section
	&-hero {
		display: grid;
		margin-bottom: 3rem;

		@media screen and (min-width: $md) {
			margin-bottom: 27rem;
		}

		.inner {
			display: grid;
			gap: 1rem;
			position: relative;

			@media screen and (min-width: $md) {
				display: flex;

				.inner-right {
					position: absolute;
					top: 30rem;
					right: 0;

					.video-desc {
						bottom: 10%;
						left: -10%;
					}
				}
			}

			&-left {
				display: grid;
				gap: 3rem;

				.hero-arrows {
					margin-top: 1.5rem;
					position: relative;
					bottom: 0;
					display: flex;
					left: -10%;
					align-items: center;
					gap: 1rem;

					.line {
						height: 0.8px;
						background: #adadad;
						flex: 1;
					}

					.arrow-img {
						display: flex;
						gap: 1rem;
					}
				}

				.hero-text {
					h1 {
						font-size: 48px;
						color: $primary;
						font-weight: 800;
					}

					p {
						font-size: 18px;
						font-weight: 500;
						margin-bottom: 1.5rem;
					}
				}

				@media screen and (min-width: $mobile) {
					max-width: 827px;
					grid-template-columns: auto auto;
					align-items: center;
				}
			}

			&-right {
				position: relative;

				.video-desc {
					position: absolute;

					&-inner {
						background: rgba(51, 51, 51, 0.3);
						backdrop-filter: blur(34px);
						padding: 1.125rem 1.5rem;
						display: flex;
						align-items: center;
						gap: 1rem;
						color: white;

						.desc-text {
							font-size: 14px;
							font-weight: 600;
						}

						.duration {
							font-size: 10px;
							font-weight: 500;
						}

						img {
							width: 36px;
							height: 36px;
						}
					}

					@media screen and (max-width: $md) {
						bottom: -10%;
						left: 1rem;
					}
				}

				.img2 {
					width: 100%;
				}
			}
		}
	}

	// About section
	.about-section {
		position: relative;

		.about-inner {
			display: grid;
			gap: 1rem;
			min-height: 60vh;

			&-right {
				margin-top: 1rem;
			}

			@media screen and (min-width: $md) {
				display: flex;

				&-left {
					width: 50%;

					img {
						width: 100%;
					}
				}

				&-right {
					width: 50%;
					margin-top: 0;
					display: flex;
					align-items: center;
				}
			}
		}

		img {
			@media screen and (max-width: $md) {
				width: 100%;
			}
		}
	}

	//3rd section
	.home-section-3 {
		margin-top: 3rem;

		.section3-inner {
			@media screen and (min-width: $md) {
				display: flex;
				justify-content: space-between;

				&-left {
					width: 47%;
				}

				&-right {
					width: 47%;
				}
			}

			&-left {
				h2 {
					color: $secondary;
					font-size: 3rem;
					font-weight: 800;
					line-height: 3.55556rem;
				}

				p {
					&.text-danger {
						font-weight: 600;
					}

					&:nth-child(2) {
						color: $secondary;
					}

					&.section3-paragraph1 {
						margin-block: 1.5rem 0;
						font-weight: 500;
						line-height: 1.77778rem;
					}
					&.section3-paragraph2 {
						margin-bottom: 2.5rem;
						font-weight: 500;
						line-height: 1.77778rem;
					}
				}

				.info {
					display: flex;
					text-align: center;
					margin-bottom: 1.5rem;
					@media screen and (max-width: $md) {
						width: fit-content;
						margin-inline: auto;
					}

					&-sub {
						padding: 2%;
						border: 1px solid $primary;

						&:nth-child(1),
						&:nth-child(3) {
							border-left: none;
							border-right: none;
						}

						p {
							margin: 0;

							&:nth-child(1) {
								font-size: 3rem;
								font-weight: 600;
								color: $primary;
							}

							&:nth-child(2) {
								font-size: 1rem;
								font-weight: 500;
								color: $secondary;
							}
						}
					}
				}
			}

			&-right {
				height: fit-content;
				margin-block: auto;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	//4th section
	.home-section-4 {
		margin-top: 5rem;

		.section4-inner {
			display: grid;
			gap: 1.8rem;

			&-img {
				display: none;
			}

			@media screen and (min-width: $lg) {
				grid-template-columns: auto 1fr;
				align-items: center;

				&-img {
					display: block;
					width: 100%;
				}
			}

			&-img {
				img {
					width: 100%;
				}
			}

			&-text {
				h2 {
					color: $secondary;
					font-size: 3rem;
					font-weight: 800;
					line-height: 4rem;
				}

				.text_gridbox {
					@media screen and (min-width: $md) {
						display: grid;

						grid-template-columns: 1fr 1fr;
					}

					.text_gridItem {
						padding: 1.5rem;
						border: 1px solid $gridBorder;

						&:hover {
							border-color: black;
						}

						.empty-box {
							height: 4.5rem;
							width: 4.5rem;
							border: 1px solid #000;
							border-radius: 20px;
						}

						p {
							font-size: 14px;
							margin: 0;
							font-weight: 500;
						}

						.grid-heading {
							font-size: 1rem;
							font-weight: 600;
							margin-block: 1rem;
						}
					}
				}
			}
		}
	}
}
