.app {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	margin: 0;
}

.home {
	display: grid;

	//Hero section
	&-hero {
		display: grid;
		margin-bottom: 3rem;
		margin-top: 1.5rem;

		@media screen and (min-width: $md) {
			margin-bottom: 27rem;
		}

		.inner {
			display: grid;
			gap: 1rem;
			position: relative;

			@media screen and (min-width: $md) {
				display: flex;

				.inner-right {
					position: absolute;
					top: 30rem;
					right: 0;

					.video-desc {
						bottom: 10%;
						left: -10%;
					}
				}
			}

			&-left {
				display: grid;
				gap: 3rem;

				.hero_img1 {
					width: 90%;

			//============ styling for the navigation buttons on the HERO SECCTION=============
					.swiper-button-prev {
						left: 63%;
						top: 96%;
						width: 1rem;
						@media screen and (max-width: $md){
							display: none;
						}

						&::after {
							font-size: 0.8rem;
							border: 1px solid #A00107;
							color: #A00107;
							background: #F5E5E6;
							border-radius: 50%;
							padding: 0.5rem 0.7rem;
						}
					}
					.swiper-button-next{
						right: 9%;
						top: 96%;
						width: 2rem;
						@media screen and (max-width: $md){
							display: none;
						}
						&::after{
							font-size: 0.8rem;
							border: 1px solid #A00107;
							color: #A00107;
							background: #F5E5E6;
							border-radius: 50%;
							padding: 0.5rem 0.7rem;
						}
					}

					@media screen and (max-width: $mobile) {
						width: 100%;
						margin: 0 auto;
					}
					img {
						width: 100%;
					}
				}

				.hero-arrows {
					margin-top: 1.5rem;
					position: relative;
					bottom: 0;
					display: flex;
					left: -10%;
					align-items: center;
					gap: 1rem;
					@media screen and (max-width: $md){
						display: none;
					}

					.line {
						height: 0.8px;
						background: #adadad;
						flex: 1;
					}

					.arrow-img {
						display: flex;
						gap: 1rem;
						opacity: 0;
					}
				}

				.hero-text {
					h1 {
						font-size: 48px;
						color: $primary;
						font-weight: 800;
					}

					p {
						font-size: 18px;
						font-weight: 500;
						margin-bottom: 1.5rem;
					}
				}

				@media screen and (min-width: $mobile) {
					max-width: 827px;
					grid-template-columns: auto auto;
					align-items: center;
				}
			}

			&-right {
				position: relative;

				.video-desc {
					position: absolute;

					&-inner {
						background: rgba(51, 51, 51, 0.3);
						backdrop-filter: blur(34px);
						padding: 1.125rem 1.5rem;
						display: flex;
						align-items: center;
						gap: 1rem;
						color: white;

						.desc-text {
							font-size: 14px;
							font-weight: 600;
						}

						.duration {
							font-size: 10px;
							font-weight: 500;
						}

						img {
							width: 36px;
							height: 36px;
						}
					}

					@media screen and (max-width: $md) {
						bottom: -10%;
						left: 1rem;
					}
				}

				.img2 {
					width: 100%;
				}
			}
		}
	}

	// About section
	.about-section {
		position: relative;
		margin-top: 3rem;

		.about-inner {
			display: grid;
			gap: 1rem;
			min-height: 60vh;

			&-right {
				margin-top: 1rem;
			}

			@media screen and (min-width: $md) {
				display: flex;

				&-left {
					width: 50%;

					img {
						width: 100%;
					}
				}

				&-right {
					width: 50%;
					margin-top: 0;
					display: flex;
					align-items: center;
				}
			}
		}

		img {
			@media screen and (max-width: $md) {
				width: 100%;
			}
		}
	}

	//3rd section
	.home-section-3 {
		margin-top: 3rem;

		@media screen and (max-width: $mobile) {
			width: 90%;
			margin: 3rem auto;
		}

		@media screen and (max-width: $md) {
			width: 90%;
			margin: 3rem auto;
		}

		.section3-inner {
			@media screen and (min-width: $md) {
				display: flex;
				justify-content: space-between;

				&-left {
					width: 47%;
				}

				&-right {
					width: 47%;
				}
			}

			&-left {
				// @media screen and (max-width: $mobile) {
				// 	width: 90%;
				// 	margin: 0 auto;
				// 	text-align: center;
				// }
				@media screen and (max-width: $md) {
					width: 90%;
					margin: 0 auto;
					text-align: center;
				}
				h2 {
					color: $secondary;
					font-size: 3rem;
					font-weight: 800;
					line-height: 3.55556rem;
				}

				p {
					&.text-danger {
						font-weight: 600;
					}

					&.section3-heading {
						color: $secondary;
					}

					&.section3-paragraph1 {
						margin-block: 1.5rem 0;
						font-weight: 500;
						line-height: 1.77778rem;
					}
					&.section3-paragraph2 {
						margin-bottom: 2.5rem;
						font-weight: 500;
						line-height: 1.77778rem;
					}
				}

				.info {
					display: flex;
					text-align: center;
					margin-bottom: 1.5rem;

					@media screen and (max-width: $md) {
						justify-content: center;
					}

					&-sub {
						padding: 2%;
						border: 1px solid $primary;

						&:nth-child(1),
						&:nth-child(3) {
							border-left: none;
							border-right: none;
						}

						p {
							margin: 0;

							&:nth-child(1) {
								font-size: 3rem;
								font-weight: 600;
								color: $primary;
							}

							&:nth-child(2) {
								font-size: 1rem;
								font-weight: 500;
								color: $secondary;
							}
						}
					}
				}
			}

			&-right {
				height: fit-content;
				margin-block: auto;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	//4th section
	.home-section-4 {
		margin-top: 5rem;
		
		@media screen and (min-width: $lg) {
			width: 100%;
			margin: 5rem auto;
		}

		.section4-inner {
			display: grid;
			gap: 2rem;

			&-img {
				display: none;
			}

			@media screen and (min-width: $lg) {
				grid-template-columns: 1fr 1fr;
				// align-items: center;

				&-img {
					display: block;
					width: 100%;
				}
			}

			&-img {
				img {
					width: 100%;
				}
			}

			&-text {
				h2 {
					color: $secondary;
					font-size: 3rem;
					font-weight: 800;
					line-height: 4rem;
				}

				.text_gridbox {
					margin-top: 2rem;
					@media screen and (min-width: $md) {
						display: grid;
						grid-template-columns: 1fr 1fr;
					}

					.text_gridItem {
						padding: 1.5rem;
						border: 1px solid #adadad;
						&:hover {
							border-color: black;
						}

						.empty-box {
							height: 4.5rem;
							width: 4.5rem;
							border: 1px solid #000;
							border-radius: 20px;
						}

						p {
							font-size: 14px;
							margin: 0;
							font-weight: 500;
						}

						.grid-heading {
							font-size: 1rem;
							font-weight: 600;
							margin-block: 1rem;
						}
					}
				}
			}
		}
	}

	//5th section
	.home-section-5 {
		width: 100%;
		.section5-inner {
			// background: red;
			margin-top: 5rem;
			width: 100%;
			h2 {
				color: $secondary;
				font-size: 3rem;
				font-weight: 800;
				line-height: 4rem;
			}
			&-text {
				margin-bottom: 3rem;
				@media screen and (min-width: $md) {
					display: flex;
					justify-content: space-between;
					align-items: center;
					p {
						width: 60%;
					}
				}
				p {
					color: #000;
					font-size: 1.125rem;
					font-weight: 500;
					line-height: 2rem;
					margin-block: 1.8125rem 3rem;
				}
			}
			
			.section5-arrows {
				margin-top: 1.5rem;
				display: flex;
				align-items: center;
				gap: 1rem;

				.line {
					max-width: 210px;
					height: 0.8px;
					background: #adadad;
					flex: 1;
				}

				.arrows {
					display: flex;
					gap: 1rem;
					margin-left: auto;
				}
			}
		}
	}

	//===========services styles from service========
	.services {
		display: grid;
		gap: 1rem;
		margin-top: 2rem;
		width: 90%;

		.swiper-button-prev, .swiper-button-next{
			display: none;
		}
		


		@media screen and (min-width: $md) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		&-items {
			display: grid;
			grid-template-rows: auto 1fr;

			img {
				width: 100%;
			}

			.content {
				display: grid;
				grid-template-rows: 0.4fr 1fr auto;
				padding: 1.5rem 1.125rem;
				gap: 0.625rem;
				background: rgba(51, 51, 51, 0.04);
				backdrop-filter: blur(34px);

				p {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 600;
					font-size: 1.125rem;
					line-height: 1.5rem;
					color: $secondary;
				}

				.texts {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 500;
					font-size: 0.875rem;
					line-height: 1.5rem;
					color: $secondary;
				}

				.services-info {
					display: flex;

					&-list {
						Link {
							cursor: pointer;
						}
					}

					&-pointer {
						margin-left: 0.4rem;

						img {
							width: 100%;
							height: 27%;
						}
					}
				}
			}
		}
	}



	//6th section
	.home-section-6 {
		width: 80%;
		margin-top: 3.5rem;

		.swiper-pagination-clickable .swiper-pagination-bullet {
			background: $primary;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
		}
		h2 {
			color: $secondary;
			font-size: 3rem;
			font-weight: 800;
			line-height: 4rem;
			text-align: center;
		}

		.section6-inner {
			text-align: center;
			margin-inline: auto;
			
			width: 100%;
			
			.section6-inner-txt1 {
				color: #000;
				font-size: 1.125rem;
				font-weight: 400;
				line-height: 2rem;
				margin-block: 1.8125rem 3rem;
				font-style: italic;
				@media screen and (min-width: $md) {
					width: 65%;
					margin-inline: auto;
				}
			}
			.section6-inner-profile {
				color: #000;
				line-height: 1.76125rem;

				img {
					border-radius: 50%;
				}
				h3 {
					font-size: 1.5rem;
					font-weight: 600;
					margin-block: 1.5rem 0.5rem;
				}
				&_caption {
					font-size: 1.125rem;
					font-weight: 500;
					margin-bottom: 2.5rem;
				}
			}
		}
	}

	//7th section
	.home-section-7 {
	
		.section7-inner {
			overflow: hidden;
			margin-top: 5rem;
			display: grid;
			gap: 1.5rem;
			h2 {
				color: $secondary;
				font-size: 3rem;
				font-weight: 800;
				line-height: 4rem;
				text-align: center;
				margin-bottom: 3rem;
			}

			&-sub {
				position: relative;
				height: 260px;
				.large-img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					@media screen and (min-width: $md) {
						width: 85%;
						margin-left: 15%;
					}
				}
				&_text {
					position: absolute;
					width: 85%;
					top: 27%;
					background-color: rgba(51, 51, 51, 0.65);
					backdrop-filter: blur(34px);
					padding: 1rem;
					display: grid;
					gap: 1rem;
					@media screen and (min-width: $md) {
						width: 35%;
					}
					p {
						margin: 0;
						color: #fff;
						&.text-heading {
							font-size: 12px;
							font-weight: 700;
							line-height: 0.880625rem;
						}
						&.inner-text-body {
							font-size: 10px;
							font-weight: 400;
							line-height: 1.125rem;
							// margin-block: 0.5rem 0.625rem;
						}
					}
					.text-link {
						&_link {
							color: #fff;
							text-decoration: none;
							font-size: 10px;
							font-weight: 600;
							line-height: 0.73375rem;
							img {
								margin-left: 0.5rem;
							}
						}
					}
				}

				&.sub-2 {
					.large-img {
						margin-left: 0;
					}
					.sub-2_text {
						right: 0;
						@media screen and (min-width: $md) {
							background-color: $danger;
						}
					}
				}
			}

			&-btn {
				text-align: center;
				margin-top: 3rem;
			}
		}
	}
}
