.home-page {
    margin-block: 1rem;
    .home-hero {
        margin-bottom: 5%;

        .home-hero_upper {

            @media screen and (min-width:768px) {
                width: 100%;
                display: flex;
                gap: 1rem;
            }

            .home-hero_upper-left {
                border: 1px;
                width: 100%;

                @media screen and (min-width:768px) {
                    width: 40%;
                }

                @media screen and (min-width:992px) {
                    width: 25%;
                }

                .home-hero_uppeer-left_image {
                    img {
                        width: 200vh;
                        align-items: center;
                        @media screen and (min-width:567px){
                            
                        }
                    }
                }

             .home-hero_upper-left_scroll {
                    @media screen and (min-width:768px) {
                        margin: 1rem 0rem 0rem -4rem;
                        gap: 0.5rem;
                        display: flex;
                        align-items: center;
                    }

                    display: none;

                    .home-hero_upper-left_scroll-line {
                        border: 1px solid #ADADAD;
                        width: 100%;


                        @media screen and (min-width:768px) {
                            width: 100%;
                        }
                    }

                    i {
                        font-size: 1rem;
                        border: 0.8px solid #A00107;
                        gap: 2rem;
                        border-radius: 4rem;
                        padding: 0.8rem 1rem;

                        @media screen and (min-width:768px) {
                            padding: 0.4rem 0.6rem;
                        }

                        &.fa-chevron-right {
                            color: $danger;
                            background: rgba(160, 1, 7, 0.1);
                        }

                        &.fa-chevron-left {
                            color: grey;
                            border: 0.8px solid grey;
                        }
                    }
                }
            }

            .home-hero_uppper-right {
                border: 1px;
                margin-top: 3rem;

                @media screen and (min-width:768px) {
                    width: 50%;
                }

                .home-hero_upper-right_text {
                    border: 1px;

                    h1 {
                        color: #000269;
                    }
                }

                .home-hero_upper-right_button {
                    .btn {
                        color: white;
                    }
                }
            }

        }

        .home-hero_lower {
            border: 1px solid;
            width: 100%;
            margin-top: 4rem;

            @media screen and (min-width:992px) {
                margin: -6% 0% 0% 32%;
                width: 70%;
            }

            @media screen and (min-width:1200px) {
                margin: -15% 0% 0% 48%;
                width: 58%;
            }

            .home-hero_lower-inner {
                .home-hero_lowwer-inner-video {
                    .home-hero_lower_inner-video-image {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }


                }

            }
        }
    }

    .home-first-section {
        margin-bottom: 5%;
        // border: 1px solid;

        .home-first-section-inner {
            @media screen and (min-width:992px) {

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            .home-first-section_inner-left {
                border: 1px;
                padding: 1rem;

                .home-first-section_inner-left_image {
                    border: 1px;
                    padding: 1rem;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }

            .home-first-section-inner-right {
                .home-first-section_inner-right_text {
                    @media screen and (min-width:1200px) {
                        margin-top: 4rem;
                    }

                    .home-first-section_inner-right_text_upper {
                        h3 {
                            color: $danger;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                        }

                        h1 {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }

    .home-second-section {
        margin-bottom: 5%;

        .home-second-section_inner {
            @media screen and (min-width:992px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            .home-second-section_inner_left {
                @media screen and (min-width:992px) {
                    margin-top: -4rem;
                }

                @media screen and (min-width:1200px) {
                    margin-top: 4rem;
                }

                .home-second-section_inner-left_text {
                    .homesecond-section_inner-left_text_upper {
                        h3 {
                            font-weight: 600;
                            font-size: 18px;
                        }

                        :nth-child(1) {
                            color: $danger;
                        }
                    }
                }


                .home-second-section_inner-left_box {

                    .home-second-section_inner-left_box_inner {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;

                        .home-second-section_inner-left_box_inner-text {
                            border: 1px solid $primary;
                            text-align: center;

                            &.first {
                                border-left: none;
                            }

                            &.third {
                                border-right: none;
                            }

                            h1 {
                                color: $primary;
                            }
                        }
                    }
                }
            }

            .home-second-section-inner_right {
                margin-top: 2rem;

                @media screen and (min-width:768px) {
                    margin: 0rem;
                }

                .home-second-section_inner_right-inner {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1rem;

                    img {
                        width: 100%;
                    }

                    .home-second-section_inner-right-inner-two {
                        position: relative;
                        margin-top: 43%;
                    }

                    .home-second-section_inner-right-inner-third {
                        position: relative;
                        margin-top: 2.3rem;
                    }
                }
            }
        }
    }

    .home-third-section {
        margin-bottom: 20%;

        @media screen and (min-width:992px) {
            height: 150vh;
        }

        .home-third-section_inner {
            @media screen and (min-width:1200px) {
                display: grid;
                grid-template-columns: 0.7fr 1fr;
                grid-template-rows: 1fr;
                gap: 3rem;
            }

            .home-third-section_inner_left {
                .home-third-section_inner_left-image {

                    img {
                        display: none;

                        @media screen and (min-width:1200px) {
                            height: 120vh;
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }

            .home-third-section-inner-right {
                // border: 1px solid;
                // padding: 1rem;
                margin-top: 2rem;

                .home-third-section-inner-right_box-table {

                    h3 {
                        font-weight: 600;
                        font-size: 18px;
                    }

                    p {
                        font-weight: 500;
                        font-size: 14px;
                    }

                    @media screen and (min-width:992px) {
                        display: grid;
                        width: 100%;
                        grid-template-columns: 1fr 1fr;
                    }

                    .home-third-section-inner-right_box-table-inner {
                        border: 1px grey solid;
                        padding: 1rem;

                        :hover {}

                        .home-third-section-inner-right-box-table-inner_img {
                            margin-bottom: 1rem;

                            // border: 1px solid;
                            // padding: 1rem;
                            img {
                                border: 1px solid;
                                padding: 1rem;
                                width: auto;
                                border-radius: 1rem;

                            }
                        }

                    }
                }
            }
        }
    }


    .home-fourth-section {
        margin-bottom: 5%;

        .home-fourth-section-inner {
            .home-fourth-section-inner_top {
                margin-bottom: 1rem;
                h1 {
                    font-weight: 800;
                    font-size: 48px;
                }

                .home-fourth-section-inner-top-text {
                    @media screen and (min-width:1200px) {
                        display: grid;
                        gap: 1rem;
                        grid-template-columns: 1fr 0.219fr;
                    }
                }
            }

            .home-fourth-section-inner_card {
                width: 100%;

                .home-fourth-section-inner_card-inner {

                    @media screen and (min-width:992px) {
                        display: grid;
                        gap: 1rem;
                        grid-template-columns: 1fr 1fr 1fr;
                    }

                    .home-fourth-section-inner_card-inner_image {
                        img {
                            width: 100%;
                        }
                    }

                    .home-fourth-section-inner_card-inner_text {
                        h3 {
                            font-weight: 600;
                            font-size: 18px;
                        }

                        p {
                            font-weight: 500;
                            font-size: 14px;
                        }

                        width: 100%;
                        padding: 1rem;
                        border: 1px;
                        background: rgba(51, 51, 51, 0.04);
                        backdrop-filter: blur(34px);
                        -webkit-backdrop-filter: blur(34px);
                    }
                }
                .home-hero_upper-left_scroll {
                    @media screen and (min-width:992px) {
                        margin: 1rem -4rem 0rem 0rem;
                        display: flex;
                    }
    
                    display: none;
                    width: 100%;
                    margin-top: 1rem;
                    gap: 0.5rem;
                    flex-direction: row-reverse;
                    align-items: center;
    
                    .home-hero_upper-left_scroll-line {
                        border: 1px solid #ADADAD;
                        width: 100vw;
    
    
                        @media screen and (min-width:992px) {
                            width: 30%;
                        }
                    }
    
                    i {
                        font-size: 1rem;
                        border: 0.8px solid #A00107;
                        gap: 2rem;
                        border-radius: 4rem;
                        padding: 0.8rem 1rem;
    
                        @media screen and (min-width:768px) {
                            padding: 0.4rem 0.6rem;
                        }
    
                        &.fa-chevron-right {
                            color: $danger;
                            background: rgba(160, 1, 7, 0.1);
                        }
    
                        &.fa-chevron-left {
                            color: grey;
                            border: 0.8px solid grey;
                        }
                    }
                }
            }

  
        }
    }

    .home-fifth-section {
        margin-bottom: 5%;

        .home-fifth-section-inner {
            text-align: center;

            .home-fifth-section-inner_text {
                height: 20vh;
            }

            .home-fifth-section-inner_profile {
                margin-bottom: 5%;

                .home-fifth-section-inner_profile-text-testimonial {
                    height: 30vh;

                    p {
                        font-weight: 400;
                        font-size: 18px;
                    }
                }

                .home-fifth-section-inner_profile-img {

                    img {
                        border-radius: 4rem;
                    }
                }

                h3 {
                    font-weight: 600;
                    font-size: 24px;
                }

                p {
                    font-weight: 500;
                    font-size: 18px;
                }
            }

        }
    }
}