@import "./variables";
@import '../styles/header.scss';
@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');

.nav {
    margin: 0rem 7.5rem 0rem 7.5rem;
    box-sizing: 0px;
    font-family: 'Raleway', sans-serif;

    .NavBar {

        box-sizing: 0px;
        // border: 1px;
        display: flex;
        // align-content: space-between;
        justify-content: space-between;
        align-items: center;

        // margin-left: 27.4375rem;
        span {
            font-weight: 135px;
            font-size: 18px;
            color: #000269;
            // font-size: 50px;
            // font-family: 'Courier New', Courier, monospace;
        }

        ul {
            border: 1px;
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            margin-left: 19.4375rem;

            li {
                // &:hover {
                //     transform: scale(1.2);
                // }
            }

            .link {
                button {
                    border: 1px;
                    background-color: white;
                    padding: 24px 0.5rem;
                    color: #000000;
                    margin: 0rem 1rem 0rem 1rem;
                    // font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21px;

                    &:hover {
                        color: white;
                        border: 1px;
                        padding: 24px 32px;
                        background-color: #A00107;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 21px;
                        margin: 0rem 2rem 0rem 2rem;
                    }
                }
            }

            .active {

                button {
                    color: white;
                    border: 1px;
                    padding: 24px 32px;
                    background-color: #A00107;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21px;
                    margin: 0rem 2rem 0rem 2rem;
                    // width: 188px;
                    // height: 69px;
                }

            }
        }
    }

}

button {
    border: 1px;
    background-color: #A00107;
    color: white;
    font-family: 'Raleway', sans-serif;
    // margin: 0rem 1rem 0rem 1rem;
    // font-style: normal;
    padding: 24px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

}

.firstSection {
    border: 1px;
    display: flex;
    margin: 3.625rem 0rem 0rem 0rem;
    position: absolute;
    font-family: 'Raleway', sans-serif;

    .img1 {
        width: 17.625rem;
        height: 29.75rem;
        border: 1px;

        .img11 {
            margin: 0rem 0rem 0rem 7.5rem;
        }

        .scroll {
            display: flex;
            align-items: center;
            margin-top: 1.5rem;

            :nth-child(1) {
                margin-right: 0.2rem;
            }

            :nth-child(2) {
                margin-right: 1rem;
            }
        }

        // border-radius: 30px;
        // background-image: url(./components/pages/images/Frame9.png);

    }

    .text {
        border: 1px #A00107;
        margin: 7.313rem 22rem 0rem 10rem;

        h1 {
            border: 1px #A00107;
            margin: 0rem 0rem 0rem 0rem;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: #000269
        }

        p {
            border: #000269 1px;
            margin: 1.5rem 0rem 3rem 0rem;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #000000;
        }

        button {
            &:hover {
                border: #A00107 1px solid;
                background-color: #FFFFFF;
                color: #A00107;
            }
        }
    }

}

.secondSectiion {
    .img2 {
        position: absolute;
        width: 708px;
        height: 434px;
        font-family: 'Raleway', sans-serif;
        // background-color: #A00107;
        // background-image: url(./components/pages/images/Frame8.png);
        // background-size:  708px 434px;
        margin: 28.5rem 0rem 0rem 40rem;
    }

    // video{
    //   
    .playBox {
        display: flex;
        margin: 47.625rem 0rem 0rem 34.8125rem;
        position: absolute;
        border: 1px;
        background: rgba(51, 51, 51, 0.3);
        backdrop-filter: blur(34px);
        width: 278px;
        height: 95px;

        .img3 {
            margin: 1rem 0rem 1rem 1rem;

        }

        h2 {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
        }

        //     height: 240px;
        // }    
        // p{
        //     margin: 1.5rem 0rem 0rem 0rem;
        // font-style: normal;
        // font-weight: 600;
        // font-size: 18px;
        // line-height: 21px;
        // color: #FFFFFF;
        //     }
    }

}

.thirdSection {
    display: flex;
    margin: 55.71rem 0rem 0rem 7.5rem;
    position: absolute;
    font-family: 'Raleway', sans-serif;

    .img4 {

        width: 644px;
        height: 745px;
    }

    .text {
        margin: 5.75rem 2.5rem 0rem 0rem;

        .txt {
            margin: 0rem 0rem 3.25rem 0rem;

            span {
                font-weight: 600;
                font-size: 18px;
                // line-height: 26px;
                color: #A00107;
                margin-bottom: 4px;
            }

            h1 {
                margin: 0.25rem 0rem 1.5rem 0rem;
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                color: #333333
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                color: #000000;
            }
        }

        button {
            border: #A00107 1px solid;
            background-color: #FFFFFF;
            color: #A00107;

            &:hover {
                background-color: #A00107;
                color: #FFFFFF;
            }
        }
    }
}

.fourthSection {
    position: absolute;
    margin: 106.0625rem 0rem 0rem 0rem;
    display: flex;
    font-family: 'Raleway', sans-serif;
    justify-content: start;

    .text {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
        margin: 0rem 0rem 0rem 6rem;
        text-align: left;

        span {
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            color: #A00107;
        }

        p {
            color: #333333;
            margin: 0rem;

        }

        h1 {
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: #333333;
            margin: 0rem;
        }

        .img6 {
            border: 1px;
            width: 80%;
            margin-left: 0rem;

            ul {
                border: 1px;
                list-style: none;
                display: flex;
                margin: 4rem 0rem 0rem 0rem;

                :nth-child(1) {
                    border-left: none;
                    padding-left: 0rem;
                }

                :nth-child(2) {}

                :last-child {
                    border-right: none;
                    padding-right: 0rem;

                }

                li {
                    padding: 0rem 0rem 0.8rem 0rem;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    // text-align: center;
                    align-items: center;
                    color: #333333;
                    display: flex;
                    flex-direction: column;
                    border: #000269 1px solid;
                    width: 12rem;
                    // height: 10rem;

                    span {
                        font-weight: 600;
                        font-size: 48px;
                        line-height: 56px;
                        color: #000269;
                    }
                }

            }
        }
    }

    .img5 {
        display: flex;

        margin: 0rem 0rem 0rem 2rem;


        // width: 10.5rem;

        :nth-child(1) {
            // position: relative;
            margin: 0rem 0.5rem 6rem 0rem;

            // height: 100vh;
        }

        :nth-child(2) {
            margin: 4.5rem 1rem 0rem 1rem;
        }

        :nth-child(3) {
            margin: 2rem 0rem 2rem 0.5rem;
        }


    }
}

.firthSection {
    display: flex;
    margin: 152.625rem 3rem 0rem 0rem;
    font-family: 'Raleway', sans-serif;

    // position: absolute;
    .img7 {
        width: 648px;
        height: 977px;

    }

    .text {
        margin: 0rem 0rem 0rem 4.875rem;

        p {
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: #333333;
        }

        .textBox {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            // border: 1px #333333 solid;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin: 0rem 0rem 0rem 0rem;

            // margin: 2rem  0rem 0rem;
            .txt {
                border: #333333 1px solid;
                padding: 1.75rem 2rem 0rem 2rem;

                // border-left: none;
                // border-top: none;
                .box {
                    border: #333333 1px solid;
                    height: 4rem;
                    width: 4rem;
                    border-radius: 1rem;
                    // margin: 1.75rem 0rem 0rem 2rem;

                }

                h1 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    // margin: 0rem 0rem 0rem 2rem;
                    color: #333333;
                }

                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: #333333;
                }
            }



        }
    }


}

.sixthSection {
    margin: 0rem 2rem 0rem 7.5rem;
    font-family: 'Raleway', sans-serif;

    .buttext {
      

        p {
            border: 1px;
            width: 30rem;
position: absolute;
        }

        button {
            border: #A00107 1px solid;
            background-color: #FFFFFF;
            color: #A00107;
        margin-left:63.6rem;
            &:hover {
                background-color: #A00107;
                color: #FFFFFF;
            }
        }
    }

    .Boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .text {
            border: 1px #3333330A solid;
            background-color: #3333330A;
            padding: 1rem;
            text-align: left;
            margin-right: 1rem;
            h1{
                ont-weight: 600;
font-size: 18px;
line-height: 24px;
color: #333333;
            }
            p{
                font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Primary Dark 80% */

color: #333333;

            }

            a {

                text-decoration: none;

                Link {
                    display: flex;
                    justify-content: space-between;
                    margin-right: 1rem;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;


                    /* Brand 1 */

                    color: #000269;
                }
            }

            img {
                margin-left: 1rem;
            }
        }


    }

}

.scroll1 {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    margin: 1.5rem 0rem 0rem 56rem;

    :nth-child(1) {}

    :nth-child(2) {
        margin-right: 0.2rem;
    }

    :nth-child(3) {
        margin-right: 1rem;
    }
}

.seventhSection {
    border: 1px;
    margin-top: 16.25rem;

    h1 {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        /* identical to box height, or 133% */


        /* Primary Dark 80% */

        color: #333333;
    }

    p {
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        /* or 178% */
        padding: 3rem 19.5rem 0rem 19.5625rem;
        text-align: center;

        /* Primary Dark */

        color: #000000;
    }

    img {
        margin: 1.5rem 38.3125rem 1.5rem 38.25rem;
        border: 1px;
        border-radius: 10rem;
        padding: 0rem;
    }

    h2 {
        text-align: center;
    }

    .p2 {
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        /* or 178% */
        padding: 0rem 19.5rem 0rem 19.5625rem;
        text-align: center;

        /* Primary Dark */

        color: #000000;
    }

    .indicator {
        display: flex;
        margin: 1.5rem 39.3125rem 1.5rem 39.25rem;
        justify-content: space-between;

        :nth-child(1) {
            margin: 0rem 1rem 0rem 0rem;
            box-sizing: border-box;
            border-radius: 1rem;
            width: 18px;
            height: 18px;

            /* white */

            background: #FFFFFF;
            /* Brand 1 */

            border: 1px solid #000269;
        }

        :nth-child(2) {
            margin: 0rem 1rem 0rem 0rem;
            box-sizing: border-box;

            width: 18px;
            height: 18px;
            display: flex;
            /* white */
            border-radius: 1rem;
            background: #FFFFFF;
            /* Brand 1 */

            border: 1px solid #000269;
        }

        :nth-child(3) {

            box-sizing: border-box;
            border-radius: 1rem;
            width: 18px;
            height: 18px;
            display: flex;
            /* white */

            background: #FFFFFF;
            /* Brand 1 */

            border: 1px solid #000269;
        }

    }
}

.eightSection {
    background-color: #33333305;
    font-family: 'Raleway', sans-serif;

    button {
        margin: 1.5rem 37rem 1.5rem 37rem;

        &:hover {
            border: #A00107 1px solid;
            background-color: #FFFFFF;
            color: #A00107;

        }
    }

    h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #333333;
        text-align: center;
        margin-bottom: 2rem;
    }

    .imgProj {
        h1 {
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            margin-bottom: 0rem;
        }
        .imgProj1 {

            .button {

                a {
                    color: #FFFFFF;
                    text-decoration: none;
                    // display: flex;
                    // flex-direction: row;


                    // display: flex;
                    // flex-direction: row;

                    // margin-right: 1rem;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;


                    /* Brand 1 */


                    padding: 0rem 1rem 2rem 0rem;
                }
            }
            .img1 {
                // position: absolute;
                margin: 0rem 0rem 2rem 15rem;
            }

            .text {
                color: #FFFFFF;
                background-color: #333333A6;
                backdrop-filter: blur(34px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 16px 24px;
                margin: 5rem 0rem 5rem 7.5rem;
                border: 1px;
                position: absolute;
                width: 306px;
                height: 130px;

          

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 18px;
                }





            }
        }

        .imgProj2 {
            .img2 {

                margin: 0rem 0rem 2rem 7rem;

            }

            .text {
                color: #FFFFFF;
                background: #A00107;
                backdrop-filter: blur(34px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 16px 24px;
            
                margin: 5rem 0rem 5rem 60rem;
                border: 1px;
                position: absolute;
                width: 306px;
                height: 130px;

                h1 {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    /* identical to box height */


                    /* white */

                    color: #FFFFFF;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 18px;
                }

                .button {

                    a {
                        color: #FFFFFF;
                        text-decoration: none;
                        // display: flex;
                        // flex-direction: row;


                        // display: flex;
                        // flex-direction: row;

                        // margin-right: 1rem;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        margin: 0rem 1rem 2rem 0rem;
                    }
                }
            }
        }

        .imgProj3 {
            .img3 {

                margin: 0rem 0rem 2rem 15rem;
                // position: absolute;
            }

            .text {
                color: #FFFFFF;
                background-color: #333333A6;
                backdrop-filter: blur(34px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 16px 24px;
                // z-index: 1;
                margin: 5rem 0rem 5rem 7.5rem;
                border: 1px;
                position: absolute;
                width: 306px;
                height: 130px;

                h1 {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 18px;
                }

                .button {

                    a {
                        color: #FFFFFF;
                        text-decoration: none;
                        margin: 1rem;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        margin: 0rem 1rem 2rem 0rem;
                    }
                }
            }
        }
    }
}

.footer {
    border: 1px;
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 3.5rem 5rem 3.5rem 7rem;
gap: 1rem;
    .part1 {
        // margin-right: 2rem;

        h1 {
            color: #000000;
            font-size: larger;
            font-weight: 600;
            margin-bottom: 1rem;
            
        }

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
            margin-bottom: 1rem;
        }
    }

    .part2 {
        margin-right: -10rem;

        h1 {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            margin-bottom: 1rem;
        }

        h2 {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 1rem;
            color: rgba(0, 0, 0, 0.5);
        }

        .button {

            a {
                color: #A00107;
                text-decoration: none;
                // display: flex;
                // flex-direction: row;
                // padding: 1rem;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
.part21{
    margin: 0rem -3rem 0rem -3rem;
    h1 {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 1rem;
    }

    h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 1rem;
        color: rgba(0, 0, 0, 0.5);
    }

    .button {

        a {
            color: #A00107;
            text-decoration: none;
            // display: flex;
            // flex-direction: row;
            // padding: 1rem;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
        }
    }
}
    .part3 {
        margin: 0rem -4rem 0rem -6rem;

        h1 {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 1rem;
            /* Primary Dark */

            color: #000000;
        }

        .text {
            h1 {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 1rem;
                /* Primary Dark */

                color: #000000;
            }

            h2 {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 1rem;
                color: rgba(0, 0, 0, 0.5)
            }
        }

        h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 1rem;
            color: #000000;
        }

        h4 {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 1rem;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .part4 {
margin-left: -1rem;
:nth-child(1){
    margin-right: 1rem;
}
:nth-child(2){
    margin-right: 1rem;
}
.question{
    margin: 3.5rem 0rem 0rem 0rem;
}

    }
  
}

.hamburger-button {
    padding: 1px;
}

.hamburger {
    cursor: pointer;
    display: none;
}

@media screen and (max-width:500px) {
    .NavBar{
        nav{
            display: none;
        }
    }
    .firstSection {
       display: flex;
       flex-direction: column;
      position: static;
       
       .img1{
        margin: 0rem;
       }
       .text{
        margin: 0rem;
       }
       .scroll{
        display: none;
       }
    }
    .secondSectiion {
        display: none;
  
    
    }
    .thirdSection{
        display: none;

    }
    .fourthSection{
        display: none;

    }
    .firthSection{
        display: none;

    }.sixthSection{
        display: none;
    }
    .seventhSection{
        display: none;

    }
    .eightSection{ 
        display: none;

    }
    .footer {
        display: none;
    }
    .scroll1 {
display: none;
    }
}