@import "./variables";
@import "./custom.scss";
@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');

html {
  font-size: 14px;

  @media screen and (min-width:768px) {
    font-size: 18px;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  color: $secondary;

}


