	.projects {
		.firstSection {
			display: flex;

			:nth-child(2) {
				padding-inline: 0rem;
				margin: 4rem 0rem 0rem 1rem;
			}

		}

		@media screen and (max-width:$mobile) {
			.firstSection {
				display: flex;
				flex-direction: column;
				
				margin-bottom: 2rem;
				img {
					padding: 0rem;
				    width: 100%;
				    height: auto;
				}
			}
		}

		.second-section {
			.inner-second {
				display: grid;
				grid-template-columns: 1.5fr 0.5fr;
				align-items: center;
			}

		}
		@media screen and (max-width:$mobile){
	.second-section{
		.inner-second{
			display: flex;
			flex-direction: column;
		}
	
	}
		}
		
		// .third-section {
		// 	margin-left: 4rem;

		// 	.inner {
		// 		.inner-inner {

		// 			.inner_text {

		// 			.inner-inner_text{


		// 					margin-left: -8rem;
		// 					width: 306px;
		// 					height: 130px;
		// 					padding: 0.7rem;
		// 					border: 1px solid;
		// 					position: absolute;
		// 					background: rgba(51, 51, 51, 0.65);
		// 					backdrop-filter: blur(34px);

		// 					h6 {
		// 						margin: 0rem;
		// 						font-weight: 700;
		// 						font-size: 12px;
		// 					}

		// 					p {
		// 						font-weight: 400;
		// 						font-size: 10px;
		// 						margin: 0rem;
		// 					}

		// 					.p {
		// 						font-weight: 600;
		// 						font-size: 10px;
		// 						margin: 0rem;
		// 					}
		// 				}
		// 			}


		// 		}

		// 	}

		// }
		.home-section-7 {
			background-color: #33333305;
			padding: 3rem;
			border: 1px;
			margin-top: 5rem;

			.section7-inner {

				display: grid;
				gap: 1.5rem;

				h2 {
					color: $secondary;
					font-size: 3rem;
					font-weight: 800;
					line-height: 4rem;
					text-align: center;
					margin-bottom: 3rem;
				}

				&-sub {
					position: relative;
					height: 260px;

					.large-img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;

						@media screen and (min-width: $md) {
							width: 85%;
							margin-left: 15%;
						}
					}

					&_text {
						position: absolute;
						width: 85%;
						top: 27%;
						background-color: rgba(51, 51, 51, 0.65);
						backdrop-filter: blur(34px);
						-webkit-backdrop-filter: blur(34px);
						padding: 1rem;
						display: grid;
						gap: 1rem;

						@media screen and (min-width: $md) {
							width: 35%;
						}

						p {
							margin: 0;
							color: #fff;

							&.text-heading {
								font-size: 12px;
								font-weight: 700;
								line-height: 0.880625rem;
							}

							&.inner-text-body {
								font-size: 10px;
								font-weight: 400;
								line-height: 1.125rem;
								// margin-block: 0.5rem 0.625rem;
							}
						}

						.text-link {
							&_link {
								color: #fff;
								text-decoration: none;
								font-size: 10px;
								font-weight: 600;
								line-height: 0.73375rem;

								img {
									margin-left: 0.5rem;
								}
							}
						}
					}

					&.sub-2 {
						.large-img {
							margin-left: 0;
						}

						.sub-2_text {
							right: 0;

							@media screen and (min-width: $md) {
								background-color: $danger;
							}
						}
					}
				}

				&-btn {
					text-align: center;
					// margin-top: 3rem;

				button{
					background-color: white;
				}
					:hover{
						background-color: $danger;
						color: white;
					}
				}
			}
		}

		.fourth-section {

			.box {
				margin-top: 2.25rem;

				&-inner {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr 1fr;

					.box-inner-in {
						border: 1px solid $primary;
						text-align: center;
					}

					:nth-child(1) {
						border-left: none;
					}

					:last-child {
						border-right: none;
					}
				}
			}


		}

		.home-section-6 {
			.section6-inner {
				text-align: center;
				margin-inline: auto;
				margin-top: 5rem;

				h2 {
					color: $secondary;
					font-size: 3rem;
					font-weight: 800;
					line-height: 4rem;

				}

				.slider {
					display: flex;
					justify-content: center;
					gap: 0rem;

					:first-child {
						border: 1px solid;
						margin-right: 1rem;
						width: 1.3rem;
						height: 1.3rem;
						border-radius: 2rem;
					}

					:nth-child(2) {
						border: 1px;
						width: 1.3rem;
						height: 1.3rem;
						border-radius: 2rem;
						background-color: $danger;
						margin-right: 1rem;
					}

					.slider3 {
						border: 1px solid;
						width: 1.3rem;
						height: 1.3rem;
						border-radius: 2rem;
					}
				}

				.section6-inner-txt1 {
					color: #000;
					font-size: 1.125rem;
					font-weight: 400;
					line-height: 2rem;
					margin-block: 1.8125rem 3rem;
					font-style: italic;

					@media screen and (min-width: $md) {
						width: 65%;
						margin-inline: auto;
					}
				}

				.section6-inner-profile {
					color: #000;
					line-height: 1.76125rem;

					img {
						border-radius: 50%;
					}

					h3 {
						font-size: 1.5rem;
						font-weight: 600;
						margin-block: 1.5rem 0.5rem;
					}

					&_caption {
						font-size: 1.125rem;
						font-weight: 500;
						margin-bottom: 2.5rem;
					}
				}
			}
		}

		.firth-section {
			
			margin: 7rem 0rem 1.8rem 0rem;
			img{
				width: 100%;
			}
			h1 {
				margin-bottom: 1rem;
			}

			.profile {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 1rem;
				
				.inner-profile{
				
					i {
						color: white;
					}
				}
			
			}

		}

		// @media screen and (max-width:$mobile) {
		// 	.firth-section {
		// 		.profile {
		// 			gap: 1rem;
		// 			display: flex;
		// 			flex-direction: column;
		// 			align-items: center;
		// 		}
		// 	}
		// }
		
		// @media screen and (max-width:$md) {
		// 	.firth-section {
		// 		// border: 1px solid;
		// 		// width: 100%;
		// 		// height: auto;
		// 		.profile {
		// 			gap: 1rem;
		// 			display: flex;
		// 			flex-direction: column;
		// 			align-items: center;
				
		// 		}
		// 	}
		// }
	}