// @import "../../variables";

.projects {
  padding-inline: 7.5rem;
  margin-top: 11.3125rem;
  h2 {
    color: $lighterPrimaryDark;
    font-size: 3rem;
    font-weight: 800;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .projects_sub {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    position: relative;
    div {
      padding: 0.88889rem 1.33333rem;
      position: absolute;
      top: 25%;
      width: 35%;
      p {
        color: $white;
        margin:0;
        &:nth-child(1) {
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 0.880625rem;
        }
        &:nth-child(2) {
          font-size: 0.625rem;
          font-weight: 400;
          line-height: 1.125rem;
          margin-block: 0.5rem 0.625rem;
        }
        &:nth-child(3) {
          a {
            color: $white;
            text-decoration: none;
            font-size: 0.625rem;
            font-weight: 600;
            line-height: 0.73375rem;
            img {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      img {
        grid-column-start: 2;
      }
      div {
        background-color: $greyBg;
        backdrop-filter: blur(5px);
        ///
      }
    }
    &:nth-child(3) {
      margin-block: 1.5rem;
      img {
        grid-column-start: 1;
      }
      div {
        background-color: $primaryRed;
        height: fit-content;
        right: 0;
      }
    }
  }
  .projects_btn {
    text-align: center;
    margin-top: 3rem;
  }
}
