.solution {
	margin-top: 5.5rem;

	@media screen and (max-width: $md) {
		margin-top: 2.5rem;
	}

	h2 {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 800;
		font-size: 3rem;
		line-height: 4rem;
		color: $secondary;
	}

	.book {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;

		p {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 500;
			font-size: 1.1rem;
			line-height: 2rem;
			color: #000000;
			width: 60%;

			@media screen and (max-width: $md) {
				width: 100%;
			}
		}

		.btn {
			@media screen and (max-width: $md) {
				margin: auto;
			}
		}

		@media screen and (max-width: $md) {
			display: block;
			align-items: center;
		}
	}

	.arr {
		margin-top: 1.5rem;
		display: flex;
		justify-content: flex-end;
		gap: 1rem;
		padding-right: 3rem;
	}
}