.service-page {
	.service-hero {
		padding: 2.5rem 0;
		display: grid;
		gap: 1rem;

		@media screen and (min-width: $md) {
			grid-template-columns: 0.65fr 0.35fr;
			align-items: baseline;
		}
		&-image {
			img {
				width: 100%;
			}
		}
		&-text {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 800;
			font-size: 2.5rem;
			line-height: 3rem;
			color: $primary;
		}
	}

	.second-segment {
		.services {
			h2 {
				font-family: "Raleway";
				font-style: normal;
				font-weight: 800;
				font-size: 3rem;
				line-height: 4rem;
				color: $secondary;
			}
			&-text {
				width: 100%;
				position: relative;
				@media screen and (min-width: $md) {
					display: flex;
				}
				p {
					font-family: "Raleway";
					font-weight: 500;
					font-size: 1.12rem;
					line-height: 2rem;
					@media screen and (min-width: $md) {
						width: 60%;
					}
				}
				.btn {
					@media screen and (min-width: $md) {
						position: absolute;
						right: 0;
					}
				}
			}
			&-cards {
				display: grid;
				grid-template-columns: 1fr;
				gap: 1rem;
				margin: 2rem 0rem;

				@media screen and (min-width: $md) {
					grid-template-columns: 1fr 1fr 1fr;
				}

				.single-service {
					.service-images {
						img {
							width: 100%;
						}
					}
					.service-content {
						padding: 1rem 0.5rem;
						background: rgba(51, 51, 51, 0.04);
						backdrop-filter: blur(34px);

						.content-heading {
							font-family: "Raleway";
							font-style: normal;
							font-weight: 600;
							font-size: 1rem;
							line-height: 1.5rem;
							color: $secondary;
						}
						p {
							font-family: "Raleway";
							font-style: normal;
							font-weight: 400;
							font-size: 0.9;
							line-height: 1.5rem;
							color: $secondary;
						}

						.content-box {
							display: flex;
							gap: 1rem;

							.content-link {
								font-family: "Raleway";
								font-style: normal;
								font-weight: 500;
								font-size: 1rem;
								line-height: 1rem;
								color: $primary;
                                text-decoration: none;
                                    a {
                                        text-decoration: none;
                                    }
                                
							}
						}
					}
				}
			}
			.second-segment-arrows {
				display: flex;
				gap: 1rem;
				justify-content: flex-end;
			}
		}
	}

	.third-segment {
		padding: 4rem;
		text-align: center;

		p {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 1.7rem;
			color: black;
		}

		.records {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			margin-top: 4rem;
			border-top: 1px solid blue;
			border-bottom: 1px solid blue;

			&-grid {
				h5 {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 600;
					font-size: 3rem;
					line-height: 3.5rem;
					text-align: center;
					color: $primary;
					padding-top: 1rem;
				}
				p {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 500;
					font-size: 1rem;
					line-height: 1.2rem;
					text-align: center;
					color: $secondary;
				}
				&:first-child {
					border-right: 1px solid blue;
				}
				&:nth-child(2) {
					border-right: 1px solid blue;
				}
				&:nth-child(3) {
					border-right: 1px solid blue;
				}
			}
		}
	}

	.fourth-segment {
		text-align: center;
		margin: 4rem 3rem;

		h2 {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 800;
			font-size: 3rem;
			line-height: 4rem;
			color: $secondary;
		}
		&-text {
			font-family: "Raleway";
			font-style: italic;
			font-weight: 400;
			font-size: 1.12rem;
			line-height: 2rem;
			margin-top: 2rem;
		}
		.profile {
			padding-top: 2.5rem;

			&-image {
				padding-bottom: 1.5rem;
				img {
					border-radius: 50%;
				}
			}
			&-text {
				h5 {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 600;
					font-size: 1.5rem;
					color: #000000;
				}
				p {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 500;
					font-size: 1.12rem;
					color: #000000;
				}
			}
		}
	}
}
