.container {
	padding-inline: 0;
}

.service {
	width: 95%;
	margin-inline: auto;
	@media screen and (min-width: $md) {
		width: 100%;
	}

	&-hero-section {
		margin-top: 2rem;
		display: grid;

		.image-wrapper {
			width: 100%;

			img {
				width: 100%;
			}
		}

		.text-wrapper {
			font-weight: 800;
			font-size: 2rem;
			color: $primary;
		}
	}

	//==========END OF SERVICE HERO SECTION========

	.services-intro {
		margin-top: 3rem;

		.services-intro-inner {
			display: grid;

			.services-intro-description {
				margin-bottom: 3rem;

				@media screen and (min-width: $md) {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				.description-text {
					@media screen and (min-width: $md) {
						width: 60%;
					}

					font-size: 1.1rem;
					color: #000000;
					margin: auto 0;
				}
			}

			.all-service {
				// background-color: red;
				.all-service-inner {
					display: block;

					.service-item {
						margin-bottom: 1rem;
						a {
							list-style: none;
							text-decoration: none;
						}
					}
				}
			}

			.services-list {
				width: 100%;
				overflow: hidden;

				.swiper-button-prev,
				.swiper-button-next {
					display: none;
				}

				.services-items {
					.service-item-inner {
						@media screen and (max-width: $mobile) {
							grid-template-rows: 350px 300px;
							height: 650px;
						}

						height: 700px;
						margin: 4rem auto;
						display: grid;
						grid-template-rows: 350px 350px;

						.services-item-image {
							height: 100%;

							img {
								width: 100%;
								height: 100%;
							}
						}

						.content {
							padding: 1.5rem 1.125rem;
							background: rgba(51, 51, 51, 0.04);
							position: relative;

							.title {
								font-weight: 600;
								font-size: 1.125rem;
								color: $secondary;
							}

							.texts {
								margin-top: 4.5rem;
								font-weight: 500;
								font-size: 0.875rem;
								color: $secondary;
							}

							.single-service-link {
								display: flex;
								position: absolute;
								bottom: 30px;

								.text-on-click {
									display: flex;
									align-items: center;
									gap: 2px;
									text-decoration: none;

									img {
										width: 0.5rem;
										aspect-ratio: 1/1;
									}
								}
							}
						}
					}
				}

				.control-wrapper {
					width: 30%;
					justify-content: flex-end;
					margin-left: auto;

					.swiper-clicks {
						display: flex;
						align-items: center;
						gap: 1rem;
						width: 100%;
						margin-top: -3rem;

						.line {
							height: 1px;
							background: #adadad;
							flex: 1;
						}

						.arrows {
							display: flex;
							gap: 1rem;

							.swiper-control {
								border: 1px solid #a00107;
								color: #a00107;
								background: #f5e5e6;
								border-radius: 50%;
								padding: 0.5rem 0.8rem;
								width: 2.5rem;
								z-index: 3;

								&:disabled {
									background: transparent;
									border: 1px solid #adadad;
									color: #adadad;
								}
							}
						}
					}
				}
			}
		}
	}

	//==============END OF SERVICE SWIPER==============

	.more-details-wrapper {
		text-align: center;
		margin-top: 5rem;

		.more-details-inner {
			text-align: center;
			margin: 0 auto;

			.statistics {
				display: flex;
				justify-content: center;
				width: 90%;
				height: 30%;
				margin: 3rem auto;

				@media screen and (min-width: $md) {
					margin-top: 4rem;
				}

				.statistics-info {
					padding: 2%;
					border: 1px solid $primary;
					height: 100%;
				}

				.border-none {
					border-left: none;
					border-right: none;
				}

				.border-left-none {
					border-left: none;
				}

				.primary-bold {
					font-size: 3rem;
					font-weight: 600;
					color: $primary;
				}

				.primary-light {
					font-size: 1rem;
					font-weight: 500;
					color: $secondary;
				}
			}
		}
	}

	.testimonial-head {
		text-align: center;
		font-size: 3rem;
		margin-top: 3rem;
	}

	.client-reviews-wrapper {
		width: 100%;
		margin-top: 1rem;

		@media screen and (max-width: 576px) {
			width: 90vw;
		}

		.swiper-pagination-clickable .swiper-pagination-bullet {
			background: $primary;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
		}

		h2 {
			color: $secondary;
			font-size: 3rem;
			font-weight: 800;
			text-align: center;
		}

		.client-reviews-inner {
			text-align: center;
			margin-inline: auto;

			width: 100%;

			.client-reviews-inner-text {
				color: #000;
				font-size: 1.125rem;
				font-weight: 400;
				margin-block: 1.8125rem 3rem;
				font-style: italic;

				@media screen and (min-width: $md) {
					width: 65%;
					margin-inline: auto;
				}
			}

			.client-reviews-profile {
				color: #000;

				img {
					border-radius: 50%;
				}

				h3 {
					font-size: 1.5rem;
					font-weight: 600;
					margin-block: 1.5rem 0.5rem;
				}

				.client-position {
					font-size: 1.125rem;
					font-weight: 500;
					margin-bottom: 2.5rem;
				}
			}
		}
	}
}
