.single-service-wrapper {
	.single-service-hero {
		.single-service-hero-image {
			width: 100%;
			margin-top: 2rem;
			img {
				width: 100%;
			}
		}
	}

	.single-service-description {
		.single-service-description_inner {
			margin: 2rem auto;
			.title {
				text-align: center;
			}
			.single-service-description_item {
				width: 80%;
				text-align: center;
				margin-inline: auto;
				@media screen and (min-width: $mobile) {
					margin: 1.5rem auto;
				}
				.description-text {
					font-weight: 500;
					font-size: 1.125rem;
					margin-top: 1rem;
				}

				.description-subitle {
					font-weight: 600;
					font-size: 1.5rem;
					margin-top: 1.5rem;
				}
			}
		}
	}
}
