.single-service-wrapper {
	.single-service-hero {
		.single-service-hero-image {
			width: 100%;
			margin-top: 2rem;
			height: 400px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.title {
		text-align: center;
		font-size: 2rem;
		font-weight: 700;
		margin-top: 2rem;
	}

	.single-service-descriptions {
		@media screen and (min-width: $mobile) {
			display: grid;
			grid-template-columns: 30% 70%;
			gap: 1rem;
		}
		.aside-section {
			margin-top: 2rem;

			aside {
				width: 90%;
				margin-inline: auto;
				padding: 0.75rem 1.25rem;
				border: 1px solid rgba(0, 0, 0, 0.125);
				font-size: 15px;
				transition: all 400ms ease-in-out;
				&:hover {
					margin-left: 3px;
				}

				a {
					text-decoration: none;
					color: $primary;
					font-weight: 500;
				}
			}
		}

		.single-service-description_inner {
			width: 90%;
			margin-top: 2rem;
			margin-inline: auto;
			.title-2 {
				font-size: 22px;
				color: $primary;
				font-weight: 700;
				text-align: center;
				@media screen and (min-width: $mobile) {
					display: none;
				}
			}
			.single-service-description_item {
				width: 100%;
				text-align: center;
				margin-inline: auto;
				@media screen and (min-width: $mobile) {
					margin: 0;
				}
				.description-text {
					font-weight: 500;
					font-size: 1.125rem;
				}

				.description-subitle {
					font-weight: 600;
					font-size: 1.5rem;
					margin-top: 1.5rem;
				}
			}

			.single-service-image_wrapper {
				width: 100%;
				display: grid;
				grid-template-columns: 80%;
				gap: 1rem;
				justify-content: center;
				@media screen and (min-width: $md) {
					grid-template-columns: 40% 40%;
				}

				.grid-image {
					width: 100%;
					height: 100%;
					img {
						border-radius: 15px;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	.statistics {
		display: flex;
		justify-content: center;
		width: 90%;
		height: 30%;
		margin: 3rem auto;
		@media screen and (min-width: $md) {
			margin-top: 4rem;
		}

		.statistics-info {
			padding: 2%;
			border: 1px solid $primary;
			height: 100%;
		}
		.border-none {
			border-left: none;
			border-right: none;
		}

		.primary-bold {
			font-size: 3rem;
			font-weight: 600;
			color: $primary;
			display: flex;
			justify-content: center;
		}

		.primary-light {
			font-size: 1rem;
			font-weight: 500;
			color: $secondary;
		}
	}

	.quality-wrapper {
		margin-top: 4rem;
		.quality-wrapper-title {
			text-align: center;
		}
		.quality-statistics {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 20%;
			margin: 2rem auto;

			.quality-statistics-info {
				padding: 4%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				border: 1px solid $secondary;
				max-height: 100%;

				.icons {
					font-size: 3rem;
					font-weight: 600;
					padding-inline: auto;
					margin-inline: auto;
				}
			}
			.border-none {
				border-left: none;
				border-right: none;
			}
		}
	}
}
