.single-project {
  @media screen and (max-width:576px){
    h1{
      font-size: xx-large;
    }
    .p{
      font-size: large;
    }
  }
  .h1 {
    color: $primary;
    font-size: 3em;
    color: $primary;
    font-weight: 800;
  }

  h2 {
    font-weight: 600;
    font-size: 18px;
    color: $pagraph;
  }

  .h2 {
    font-weight: 600;
    font-size: 18px;
    // color: $name;
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    color: $pagraph;
  }

  .about {
    font-family: 'Raleway', sans-serif;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: $pagraph;
  }


  .p {
    font-weight: 500;
    font-size: 18px;
    color: $pagraph;
    margin-top: 24px;
  }

  .inner-inner-inner-text-box {
    border: 1px solid $secondary;
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
  }
  align-items: center;

  .hero-img {
    img {
      width: 100%;
    }
  }

  @media screen and (max-width:$mobile) {
    .single-project-inner {
      width: 100vw;
    }
  }

  .single-project-inner {
    width: 70vw;

    //SINGLE-PROJECT-FIRST-SECTION
    .single-project-first-section {
      font-family: 'Raleway', sans-serif;

      .first-section_grid {
        margin: 4rem 0rem 4rem 0rem;
     

        img {
          width: 100%;
          height: auto;
        }

        .a {
          grid-area: a;
          height: 100%;
        }

        .b {
          grid-area: b;
        }

        .c {
          grid-area: c;
        }

        .d {
          grid-area: d;
        }

        .first-section_grid-item {
          font-family: 'Raleway', sans-serif;
          display: grid;
          grid-template-areas: 'a b c'
            'a d d';
          gap: 1rem;
        }
      }

  
    }

    //SINGLE-PROJECT-SECOND-SECTION
    .single-second-section {
      margin-top: 5rem;
      font-family: 'Raleway', sans-serif;

      .box {
        margin-top: 2.25rem;

        &-inner {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;

          .box-inner-in {
            width: 100%;
            border: 1px solid $primary;
            text-align: center;
            padding: 1rem;
            h1{
              @media screen and (max-width:576px){

                font-size: xx-large;
              }
            }
          
    
          }

          :nth-child(1) {
            border-left: none;
          }

          :last-child {
            border-right: none;
          }
        }
      }


    }

    //SINGLE-PROJECT-THIRD-SECTION
    .single-third-section {
      margin-top: 5rem;
      font-family: 'Raleway', sans-serif;

      h1 {
        text-align: center;
      }

      .box {

        margin-top: 2.25rem;

        &-inner {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;

          .box-inner-in {
            border: 1px solid $secondary;
            text-align: center;
            padding: 2rem 1rem 0rem 1rem;

            h2 {
              @media screen and (max-width:576px){
              
                font-size: small;
              }
              margin: 1rem 0rem 1.5rem 0rem;
            }

          }

          :nth-child(1) {
            border-left: none;
          }

          :last-child {
            border-right: none;
          }
        }
      }
    }
  }

  //SINGLE-PROJECT-FOURTH-SECTION

  .home-section-7 {
    background-color: #33333305;
    padding: 3rem;
    border: 1px;
    margin-top: 5rem;

    .section7-inner {

      display: grid;
      gap: 1.5rem;

      h2 {
        color: $secondary;
        font-size: 3rem;
        font-weight: 800;
        line-height: 4rem;
        text-align: center;
        margin-bottom: 3rem;
      }

      &-sub {
        position: relative;
        height: 260px;

        .large-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;

          @media screen and (min-width: $md) {
            width: 85%;
            margin-left: 15%;
          }
        }

        &_text {
          position: absolute;
          width: 85%;
          top: 27%;
          background-color: rgba(51, 51, 51, 0.65);
          backdrop-filter: blur(34px);
          -webkit-backdrop-filter: blur(34px);
          padding: 1rem;
          display: grid;
          gap: 1rem;

          @media screen and (min-width: $md) {
            width: 35%;
          }

          p {
            margin: 0;
            color: #fff;

            &.text-heading {
              font-size: 12px;
              font-weight: 700;
              line-height: 0.880625rem;
            }

            &.inner-text-body {
              font-size: 10px;
              font-weight: 400;
              line-height: 1.125rem;
              // margin-block: 0.5rem 0.625rem;
            }
          }

          .text-link {
            &_link {
              color: #fff;
              text-decoration: none;
              font-size: 10px;
              font-weight: 600;
              line-height: 0.73375rem;

              img {
                margin-left: 0.5rem;
              }
            }
          }
        }

        &.sub-2 {
          .large-img {
            margin-left: 0;
          }

          .sub-2_text {
            right: 0;

            @media screen and (min-width: $md) {
              background-color: $danger;
            }
          }
        }
      }

      &-btn {
        text-align: center;
        // margin-top: 3rem;

        button {
          background-color: white;
        }

        :hover {
          background-color: $danger;
          color: white;
        }
      }
    }
  }
}

.single-project-firth-section {
border: 1px;
padding: 1rem;

  h1 {
    @media screen and (max-width:1199px) {
      text-align: center;
    }
  }

  margin: 5rem 0rem 1.8rem 0rem;

  h1 {
    margin-bottom: 1rem;
    
  }

  .profile {
    border: 1px;
    padding: 1rem;
    width: 100%;
    height: auto;
.profile-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
width: 100%;

  img{
    width: 100%;
  }
  .info {
    background-color: $secondary;
    width: 379px;
    text-align: center;
    width: 100%;
    height: auto;
   padding: 1rem;
    .profile-h2 {
      color: $name;
      border: 1px;
      @media screen and (max-width:576px){
        font-size: small;
      }
    }
  .icons{
    border: 1px;
 
    i {
      color: #fff;
    
    }
    :first-child {
      margin-right: 1rem;
    }
  }


    .profile-p { 
  border: 1px;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      color: $name;
    }
  }
}
    }
  }


  