.third-part {
	.quest {
       margin: 7rem 0rem;
		display: block;
		gap: 2rem;
		text-align: center;

		p {
			font-family: "Raleway";
			font-style: normal;
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 1.75rem;
			color: #000000;
		}
	
		@media screen and (max-width: $md) {
			margin: auto;
			padding-top: 3rem;
		}
	}

	.grid-con {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: auto;
		text-align: center;
        border-top: 1px solid blue;
        border-bottom: 1px solid blue;

        @media screen and (max-width: $md) {
            grid-template-columns: 1fr; 
            border: none;
            padding-top: 3rem;
            
        }

		.grid-item {
            padding: 0.7rem 0rem;
            @media screen and (max-width: $md) {
                
            }

			&:first-child {
                border-right: 1px solid blue;
                @media screen and (max-width: $md) {
                    border-right: none;
                }
				.no {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 600;
					font-size: 48px;
					line-height: 56px;
					text-align: center;
					color: $primary;
				}
				.letter {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					color: $secondary;
				}
			}
            &:nth-child(2) {
                border-right: 1px solid blue;
                border-right: 1px solid blue;
                @media screen and (max-width: $md) {
                    border-right: none;
                }
                .no {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 600;
					font-size: 48px;
					line-height: 56px;
					text-align: center;
					color: $primary;
				}
				.letter {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					color: $secondary;
				}  
            }
            &:nth-child(3) {
                border-right: 1px solid blue;
                border-right: 1px solid blue;
                @media screen and (max-width: $md) {
                    border-right: none;
                }
                .no {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 600;
					font-size: 48px;
					line-height: 56px;
					text-align: center;
					color: $primary;
				}
				.letter {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					color: $secondary;
				}  
            }
            &:nth-child(4) {
                .no {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 600;
					font-size: 48px;
					line-height: 56px;
					text-align: center;
					color: $primary;
				}
				.letter {
					font-family: "Raleway";
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					color: $secondary;
				}  
            }
		}
       
	}
}
