// @import "../../variables";

.why {
  padding-right: 7.5rem;
  margin-top: 4.94444rem;
  display: flex;
  .why_text_section {
    margin-left: 4.75rem;
    margin-block: auto;
    h2 {
      color: $lighterPrimaryDark;
      font-size: 3rem;
      font-weight: 800;
      line-height: 4rem;
    }
    .why_gridbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 1.5rem;
      border: 1px solid $gridBorder;

      .why_gridItem {
        padding: 1.33333rem;
        &:nth-child(1),
        &:nth-child(3) {
          border-right: 1px solid $gridBorder;
        }
        &:nth-child(3),
        &:nth-child(4) {
          border-top: 1px solid $gridBorder;
        }
        &:nth-child(4) {
          border-left: none;
        }
        div {
          padding: 2.25rem;
          width: 20%;
          border: 1px solid $primaryDark;
          border-radius: 20px;
        }
        p {
          &:nth-child(2) {
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.5rem;
            color: $lighterPrimaryDark;
            margin-block: 0.88889rem 0.4444rem;
          }
          &:nth-child(3) {
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}
